
.navbar ul{
    list-style-type: none;
    background-color: #002C2F;
    padding: 0px;
    margin: 0px;
    overflow: hidden;

}
.navbar a{
    color: #B2A59F;
    text-decoration: none;
    font-family: "Agency FB";
    padding: 30px;
    font-size: 50px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #023459;
    font-family: "Agency FB";
    color: black;
    font-size: 50px;
}
.navbar li{
    float: left;
}

.DriverList{
    font-family: "Alef";
    list-style-type: numbers;
    color: #5e2028;
    padding: 0px;
    margin: 0px;
    display: block;
    float:left;
}
.Headar{
    font-family: "Alef";
    margin: 10px;

}
.Headar:hover{
    font-size: large;
    margin: 10px;

}
a {
    text-decoration: none;
    color: #5e2028;
    padding: 10px;
}
a:hover {
    font-size: 20px;
    margin: -10px;
    box-shadow: 0 4px 10px #028C6A;
    background-color: #D1EDE1;
}
.active{
    margin: -1px;
    color: black;
    background-color: #7BC5AE;;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 25px;
    font-size: 20px;
    background-size: 10px;
}
.Bio{
    text-align: justify;
    margin-left: 25%;
    padding-left: 20px;
    margin-right: 10%;
}
.Pictr{
    float: right;
    margin-top: -200px;
    margin-right: 10px;
}
.Steckbrief{
    margin-left: 30%;
    list-style: square;
}
.Fah{
    max-width: 3000px;
    height: auto;
    margin-right: 15px;
}
.Meme{
    max-width: 300px;
    height: auto;
    float: left;
    margin-right: 15px;
}
body{
    background-color: lightgray;
    font-size: 20px;
}
.Teamss{
    color:  #023459;

}
